<div class="modal-overlay">
  <div class="login-container">
    <div class="login-left">
      <img src="assets/img/InicioSesion.png" alt="Imagen de fondo" class="login-image">
    </div>
    <div class="login-right">
      <div class="login-header">
        <div class="header-top">
          <div class="logo">
            <img src="assets/img/LogoSoloN.png" alt="Logo SelecIA" class="selectIA-logo">
            <span class="selectIA-title">SelecIA</span>
          </div>
          <button class="close-btn" (click)="closeLogin()">&times;</button>
        </div>
        <h2 class="welcome-title">¡Bienvenido!</h2>
      </div>

      <div class="login-form">

        <!-- 🔁 Toggle modo Postulante / Reclutador -->
        <div class="mode-toggle">
          <span
            class="mode-label"
            [class.active]="!isReclutadorMode"
          >
            Postulante
          </span>

          <label class="switch">
            <input
              type="checkbox"
              [(ngModel)]="isReclutadorMode"
              name="modoSesion"
            />
            <span class="slider round"></span>
          </label>

          <span
            class="mode-label"
            [class.active]="isReclutadorMode"
          >
            Reclutador
          </span>
        </div>

        <div class="form-group">
          <label for="username">Usuario</label>
          <input type="text" id="username" [(ngModel)]="username" placeholder="Ingresa tu usuario">
        </div>

        <div class="form-group">
          <label for="password">Contraseña</label>
          <div class="input-wrapper">
            <input
              [type]="isPasswordVisible ? 'text' : 'password'"
              id="password"
              [(ngModel)]="password"
              placeholder="Ingresa tu contraseña"
            />
            <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
              <mat-icon>{{ isPasswordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
          </div>
        </div>

        <!-- CAPTCHA desactivado temporalmente
        <div class="form-group captcha-group" style="margin-top: 1.5rem; display:flex; justify-content:center;">
          <div id="recaptcha-container"></div>
        </div>
        -->

        <button class="btn-login" (click)="login()">Iniciar Sesión</button>

        <div class="register-message">
          <p>¿No tienes cuenta? <a (click)="solicitarRegistro.emit()" class="btn-register">Regístrate aquí</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
